# Игнорируем секретные ключи и настройки
backend/.env
.env

# Игнорируем кэш Python
**/__pycache__/
*.pyc

# Игнорируем базу данных (если хочешь, чтобы на сервере была своя чистая база)
backend/store.db

# Игнорируем системные файлы macOS/Windows
.DS_Store
Thumbs.db